@model IEnumerable<EFCodeFirstApproach.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@Html.Raw(TempData["InsertMessage"])*@
@*@Html.Raw(TempData["UpdateMessage"])*@

@Html.Raw(TempData["DeleteMessage"])

<p style="color:green;"> @TempData["InsertMessage"] </p>
<p style="color:green;">@TempData["UpdateMessage"]</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@*
        THIS INDEX VIEW MADE BY ME AND THE ABOVE ONE IS GENERATED ANOTHER WAY
           @model IEnumerable<EFCodeFirstApproach.Models.Student>
        @{
            ViewBag.Title = "Index";
        }

        <h2>Index</h2>

        <table border="2">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Gender</td>
                    <td>@item.Age</td>
                </tr>
            }
    ,*@
