@model IEnumerable<AjaxBeginForm2.Models.employe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="Loader" style="display:none;">
    <img src="~/Images/circle-9360_128.gif" width="100" height="100" />
</div>


@using (Ajax.BeginForm("Index", "House", 
    new AjaxOptions() 
    { 
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "DivUpdate",
        LoadingElementId = "Loader"
    }
    )) 
{ 
    <label>Search By Name</label>
    <input type="text" name="q" />
    <input type="submit" value="Search" />
}

<div id="DivUpdate">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    No Rows Found.....
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                </tr>
            }
        }

    </table>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>