
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    Html.BeginForm("Index", "FormHelperMethod"); <!-- THIS LINE GIVES US HTML OPEN FORM (represent opening form) -->
}


@Html.Label("Username") &nbsp; @Html.TextBox("Username", "", new { @class = "form-control" })  <!-- &nbsp is for adding space and "" use for value -->
<br />
<br />
@Html.Label("Password") &nbsp; @Html.Password("pass", "", new { @class = "form-control" })
<br />
<br />
@Html.Label("Male") &nbsp; @Html.RadioButton("Gender", "Male", true)   <!-- true is for page load hone pr usper pehelesihi check laga hoga -->
@Html.Label("Female") &nbsp; @Html.RadioButton("Gender", "Female")
<br />
<br />
@Html.Label("Select Country") &nbsp; @Html.DropDownList("CountryList", new SelectList(new[] { "India", "America", "England", "Australia" }), "Select", new { @class = "form-control" })
<br />
<br />
@Html.Label("Comments") &nbsp; @Html.TextArea("CommentsArea", new { @class = "form-control" })
<br />
<br />
@Html.CheckBox("AcceptTerms", true) &nbsp; @Html.Label("I accept the terms")
@Html.Hidden("id")
<br />
<br />
<input type="submit" value="Submit" class="form-control" />

@{
    Html.EndForm(); <!-- represent closing form-->
}