@model AjaxBeginFormMVC.Models.employe

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div id="LoaderImage" style="display:none">
    <img src="~/Images/circle-9360_128.gif" height="100" width="100" />
</div>
<div id="DivUpdate">

</div>

@using (Ajax.BeginForm("Create", "House",
            new AjaxOptions() {
            HttpMethod = "POST",                       //here i make object of AjaxOption and define properties
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "DivUpdate",     // when form is submitted then the response save in this id
            LoadingElementId = "LoaderImage",
            LoadingElementDuration = 1000,    //1000 MEANS 1 SECOND
            Confirm = "Are you sure to insert data??",
            OnComplete = "ClearFields"
            }) )

{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "nametxt" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", id = "desigtxt" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", id = "salarytxt" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", id = "agetxt" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Insert" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function ClearFields()
    {
        document.getElementById('nametxt').value = "";
        document.getElementById('desigtxt').value = "";
        document.getElementById('salarytxt').value = "";
        document.getElementById('agetxt').value = "";
    }
</script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>