
@{
    ViewBag.Title = "Index";
}

<!-- 1.ViewData is used to pass data from controller to view
    2.It passes data with in the same view not in anothers view 
    3.ViewData requires typecasting when you use complex data type(like array, list, objects) to avoid error 
    4.Syntax ViewData["<key>"] = <value> -->

<h2>Index</h2>

<h2> @ViewData["Message"] </h2>   

<h2>@ViewData["CurrentTime"]</h2>

<ul>
    @{
        foreach (string i in (string[])ViewData["FruitsArray"])
        {
            <li>@i</li>
        }
    }
</ul>

<ul>
    @{
        foreach (string i in (List<string>)ViewData["SportsList"])
        {
            <li>@i</li>
        }
    }
</ul>

@{
    var a = (ASP.NET_MVC_Learning.Models.Employee)ViewData["Employee"];  //here used typecasting
}

<p>@a.EmpId</p>
<p>@a.EmpName</p>
<p>@a.EmpDesignation</p>